<header>
    <div class="container">
        <a href="#" routerLink="/">
            <img src="{{icon}}" alt="Nelas Recipes Logo" class="icon-image">
        </a> 
        <nav class="header-menu">
            <ul>

                <li>
                    <div class="dropdown">
                        <a href="#" class="header-menu-route" routerLink="/recipes">All recipes                       
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9L12 16L5 9" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a> 
                        <div class="dropdown-content">
                            <a href="#" routerLink="/recipes-index" class="sub-list">By category</a>
                            <a href="#" routerLink="/breakfast-recipes" class="sub-list">Breakfast</a>
                            <a href="#" routerLink="/main-recipes" class="sub-list">Main Dish</a>
                            <a href="#" routerLink="/sides-recipes" class="sub-list">Sides & Appetizers</a>
                            <a href="#" routerLink="/dessert-recipes" class="sub-list">Dessert</a>

                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="header-menu-route" routerLink="/airfryer-recipes">Air Fryer Recipes</a>
                </li>
                <li>
                    <a href="#" class="header-menu-route" routerLink="/lowcalorie-recipes">Low Calorie</a> 
                </li>
                <li>
                    <a href="#" class="header-menu-route" routerLink="/about-me">About</a> 
                </li>
            </ul>
        </nav>
    </div>
</header>
