header{
  box-shadow: 0 4px 20px -8px gray;
}

.container{
  margin: 0 auto;
  max-width: 1200px;  
  display: flex;
  position: relative;
  align-items: center;    
}

.icon-image{
  display: block;
  height: 5rem;
  padding: 1rem 0;
}

.header-menu{
  height: 100px;
  margin-left: auto;
}

.header-menu ul{
    list-style-type: none;
    align-items: center;
    height: 100%;
    margin: 0;
}
.header-menu ul li{
    display: inline-block;
    height: 100%;
}
.header-menu-route{
    display: flex; 
    align-items: center; 
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color:#a62031;
    font-size: 1.5rem;
}

.header-menu-route:hover{
  color: rgb(255,240,219);
  background-color: #a62031;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#c24152;
  min-width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.sub-list{
  color: rgb(255,240,219);
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.sub-list:hover{
  color: rgb(255,240,219, 0.7);
}

.dropdown:hover .header-menu-route{
  background-color: #a62031;
  color: rgb(255,240,219);
}

.dropdown:hover .dropdown-content {display: block;}


/* Mobile dropdown styles */
.dropdown-mobile {
  display: none;
  position: relative;
  height: 100%;
  margin-left: auto;
}

.dropdown-content-mobile {
  display: none;
  position: absolute;
  right: 0;
  background-color: #c24152;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-mobile.active .dropdown-content-mobile {
  display: block;
}

#menu path {
  stroke: #a62031; /* Red color */
}

#mobile-dropdown-toggle:hover #menu path {
  stroke: rgb(255, 240, 219); /* White color when hovered */
}

#mobile-dropdown-toggle:hover {
  background-color: #a62031; /* Red background when hovered */
}


.dropdown-mobile.active {
  background-color: #a62031; /* Red background */
}


.dropdown-mobile.active #menu path,
.dropdown-mobile.active #menu-close path {
  stroke: rgb(255, 240, 219); /* White stroke for visibility */
}

@media (max-width: 1200px) {
  .container {
    margin-left: 1rem;
  }
}

@media (max-width: 900px) {
  .header-list {
    display: none;
  }

  .dropdown-mobile {
    display: inline-block;
  }

  .dropdown-content-mobile a {
    color: rgb(255, 240, 219);
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
  }

  .dropdown-content-mobile a:hover {
    background-color: #a62031;
    color: rgb(255, 240, 219);
  }
}

@media (max-width: 565px) {
  .icon-image {
    height: 4rem;
    padding: 0.75rem 0;
  }

  .header-menu {
    height: 4rem; /* Adjust the height to match the icon size */
  }
  .dropdown-content-mobile a {
    padding: 0.6rem 0.75rem;  /* Reduced padding */
    font-size: 0.9rem;  /* Slightly smaller font size */
  }

  #menu, #menu-close {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 425px) {
  .icon-image {
    height: 3rem;
    padding: 0.5rem 0;
  }

  .header-menu {
    height: 3rem; /* Adjust header size */
  }

  #menu, #menu-close {
    height: 32px;
    width: 32px;
  }
  .dropdown-content-mobile a {
    font-size: 0.8rem;  /* Slightly smaller font size */
  }
}

@media (max-width: 350px) {
  .icon-image {
    height: 2.5rem;
  }

  .header-menu {
    height: 2.5rem;
  }
  .dropdown-content-mobile a {
    font-size: 0.7rem;  /* Slightly smaller font size */
  }
}

@media (max-width: 275px) {
  #menu {
    height: 24px;
    width: 24px;
  }

  .dropdown-content-mobile a {
    font-size: 0.6rem;  /* Slightly smaller font size */
  }
}