header{
  box-shadow: 0 4px 20px -8px gray;
}

.container{
  margin: 0 auto;
  max-width: 1200px;  
  display: flex;
  position: relative;
  align-items: center;    
}

#icon{
  display: block;
  height: 5em;
  padding: 1em 0;
}

nav{
  height: 100px;
  margin-left: auto;
}

nav ul{
    list-style-type: none;
    align-items: center;
    height: 100%;
    margin: 0;
}
nav ul li{
    display: inline-block;
    height: 100%;
}
.navb{
    display: flex; 
    align-items: center; 
    height: 100%;
    padding:auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color:#a62031;
    font-size: 1.3em;
}

.navb:hover{
  color: rgb(255,240,219);
  background-color: #a62031;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#c24152;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255,240,219);;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .navb{
  background-color: #a62031;
  color: rgb(255,240,219);
}

.dropdown:hover .dropdown-content {display: block;}

