.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #a62031;
    color: white;
    padding-bottom: 0.5rem;
}

p{
    margin: 0.5rem auto 0.25rem auto;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

li{
    float: left;
    margin: 0 0.25rem; 
}

.icon {
    width: 0.9rem; 
    height: auto; 
}

.copyright{
    padding-top: 0.3rem;
    font-size: 0.75rem;
    text-align: center;
}

@media (max-width: 768px) {
    .copyright{
        font-size: 0.65rem;
    }

}

@media (max-width: 545px) {
    .copyright{
        font-size: 0.55rem;
    }

}

@media (max-width: 290px) {
    .copyright{
        padding-top: 0.2rem;
        font-size: 0.4rem;
    }
}