.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Horizontally center the content */
    background-color: #a62031;
    color: white;
    text-align: center; 
    padding-bottom: 10px;
}
p{
    margin: 10px auto 5px auto;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

li{
    float: left;
    margin: 0 5px; 
}
.icon {
    width: 15px; 
    height: auto; 
}

#copyright{
    padding-top: 10px;
    font-size: 10px;
}