.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Horizontally center the content */
    background-color: #a62031;
    color: white;
    text-align: center; 
    padding-bottom: 20px;
}
h3{
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

li{
    float: left;
    margin: 0 10px; 
}
.icon {
    width: 30px; 
    height: auto; 
}