.container {
    position: relative;
    margin: 0 auto 3rem auto;
    max-width: 1200px;
}

#container_primary{
    width: calc(100vw); 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255,240,219,0.3);
    padding-top: 1rem;
    padding-bottom: 2rem ;
    margin-bottom: 2rem;
}

.route{
    max-width: 1200px;
    margin: auto;
    font-size: 1rem;
}


.header{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#title{
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

.header-by {
    display: flex;
    align-items: center;
}

#header-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#header-about{
    margin: 0 0 0 1rem ;
}

#date{
    font-size: 0.75rem;
    color: #A9A9A9;
}

#jump-container{
    max-width: 1200px;
    margin: 0rem auto; 
}

.btn{
    color: white;
    background-color: #a62031;
    padding: 1rem;
}

.btn:hover{
    cursor: pointer;
}

.container-recipe{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:2rem
}

.container-left p {
    text-align: justify;
}

#introduction-text{
    margin-top: 0;
    margin-bottom: 1rem;
}

#first-image{
    aspect-ratio: 0.75/1;
    width: 100%;
    object-fit: cover;
    object-position: 0;
    margin-bottom: 0;
}


#subtitle{
    margin-top: 2rem;
}


#ingredients-image{
    width: 100%;
    margin-top: 1rem;
}

#steps-image{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.more-recipes-container, .ingredients-container{
    margin-bottom: 2rem;
}

.listing{
    margin: 0.5rem 0;
}

.nutritional{
    list-style-type: none;
    padding-left: 1rem ;
}

.recipe-card-container{
    border: #a62031;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.recipe-card-header{
    background-color: rgb(255,240,219,0.5);
    padding: 2rem;
    border-bottom: 2px solid #a62031;
}

.main{
    max-width: 1200px; 
    margin: 0 auto;
}

#recipe-card-image{
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    float: right;
    max-width: 250px;
    margin-left: 2rem;

}

.recipe-card{
    margin: 2rem;
}

.nutritional-card{
    border: 2px solid #a62031;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nutritional-card h3{
    color:#a62031;
}

.about_me_card{
    border: 2px solid #a62031;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 2rem;
}

#about-image{
    aspect-ratio: 1 / 1;
    width: 250px;
    object-fit: cover;
    object-position: 0;
    border-radius: 50%;
}

#p-btn{
    text-align: center;
    margin-top: 2rem;
}

.grid-container-latest {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 1rem; 
    margin-top: 1rem;
}

.latest a{
    display: flex;
}

.latest-title{
    padding-top: 0.5rem;
    padding-left: 1rem;
}

#image-latest{
    width: 160px;
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0 1rem 2rem 1rem;
    }

    .full-width-background{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 995px) { 
    .full-width-background{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    .container {
        margin: 0 auto 3rem auto;              
        padding-left: 1rem;          
        padding-right: 1rem;         
        max-width: 664px;            
    }
    .container-right{
        display: none;
        
    }
    .container-recipe {
        display: block; 
    }
    .container-left {
        width: 100%; 
    }
    .recipe-card-container{
        font-size: 0.75rem;
    }
    #primary-image{
        max-width: 175px;
    }
    #recipe-card-image{
        max-width: 175px;
    }

}

@media screen and (max-width: 664px) {
    .header{
        margin-bottom: 1.5rem;
    }
    .route{
        padding-bottom: 0.5rem;
        font-size: 0.6rem;
    }
    .full-width-background{
        font-size: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1.5rem;
    }
    .more-recipes-container, .ingredients-container, .introduction-description-container{
        margin-bottom: 1rem;
    }
    #subtitle{
        margin-top: 1rem;
    }
    .btn{
        padding: 0.75rem;
    }
    #title{
        font-size: 2.5rem;
    }
    .full-width-background{
        font-size: 0.75rem;
    }
    #header-image{
        width: 45px;
        height: 45px;
    }
    #header-about {
        margin-left: 0.75rem 
    }
}


@media screen and (max-width: 545px) { 

    .full-width-backgroun{
        font-size: 0.55rem;
    }

    .route{
        padding-bottom: 0.25rem;
        font-size: 0.55rem;
    }

    .introduction-description-container, .ingredients-container, .recipe-container {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    #subtitle{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    #recipe-card-image{
        max-width: 100%;
        margin: 0rem 0rem 1rem 0rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    #title{
        font-size: 2rem;
    }
    #header-image{
        width: 35px;
        height: 35px;
    }
}