<div class="container">
        <div class="route"> 
            <a href="#" routerLink="/" id="r-home">Home</a> >
            <ng-container *ngFor="let category of recipe.categories;">
                <a href="#" [routerLink]="'/'+ getPath(category)" id="r-home">{{ category }}</a> >
            </ng-container>
            {{recipe.name}}
        </div>
        <div class="container-recipe">
            <div id="header">        
                <h1>{{recipe.name}}</h1>
                <div id="header_info">
                    <a href="#" routerLink="/about-me">
                        <img src={{image}} alt="About" id="primary-image">
                        <em>by </em> <b>Francisco Correia</b> </a>
                    on {{recipe.date}}
                </div>
            </div>
        </div>
        <div id="jump-container">
        <a href='/recipes/{{recipe.id}}#recipe-card-container' id="jump">Jump to recipe</a>
        </div>
        <div id="short-description">
            <p>{{recipe.introduction}}</p>
            <img src="{{recipe.imageUrl}}" alt="{{recipe.name}}" class="first-image">
            <h2>{{recipe.subtitle}}</h2>
            <p>{{recipe.introduction}}</p>
        </div>
        <div id="ingredients-container">
            <img *ngIf="recipe.url_ingredients" [src]="recipe.url_ingredients" id="ingredients-image">
            <h2>What You'll need to make {{recipe.name}}</h2>
            <p [innerHTML]="recipe.ingredients"></p>
        </div>
        <div id="recipe-container">
            <h2>{{recipe.name}} Recipe</h2>
            <p [innerHTML]="recipe.steps"></p>
        </div>
        <div class="more-recipes-container">
            <h2 class="title">More {{main_category}} Recipes</h2>
            <div class="grid-container">
            <div *ngFor="let s of categoryRecipes">
                <article>
                    <a [routerLink]="'/recipes/' + s.id"> 
                        <img src="{{s.imageUrl}}" alt={{s.name}} class="secondary-image">
                        <h3> {{s.name}} </h3>
                        </a>
                </article>
            </div>
        </div>
        <div id="recipe-card-container" name="recipe-card-container">Recipe-card</div>
    </div>
