.container {
    position: relative;
    margin: 0 auto 3em auto;
    max-width: 1200px;
}

#container_primary{
    width: calc(100vw); 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255,240,219,0.3);
    padding-top: 1em;
    padding-bottom: 2em ;
    margin-bottom: 2em;
}

.route{
    max-width: 1200px;
    margin: auto;
}


.header{
    max-width: 1200px;
    margin: 0 auto;
}

#title{
    font-size: 3em;
}

.header-by {
    display: flex;
    align-items: center;
}

#header-image{
    aspect-ratio : 1 / 1;
    width: 3.5em;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 1em;
}

#header-about{
    margin: 0 0 0 1em ;
}

#date{
    font-size: 0.75em;
    color: #A9A9A9;
}

#jump-container{
    max-width: 1200px;
    margin: 2em auto 0 auto;
    
}

.btn{
    color: white;
    background-color: #a62031;
    padding: 1em;
}

.btn:hover{
    cursor: pointer;
}

.container-recipe{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:2em
}

.container-left p {
    text-align: justify;
}

#introduction-text{
    margin-top: 0;
    margin-bottom: 1em;
}

#first-image{
    aspect-ratio: 0.75/1;
    width: 100%;
    object-fit: cover;
    object-position: 0;
    margin-bottom: 0;
}

.recipe-text{
    margin:0;
    margin-top: 1em;
    margin-bottom: 1em;
}

#subtitle{
    margin-top: 40px;
}

#steps-image{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#ingredients-image{
    width: 100%;
    margin-top: 1em;
}

.more-recipes-container, .ingredients-container{
    margin-bottom: 2em;
}

.listing{
    margin: 0.5em 0;
}

.nutritional{
    list-style-type: none;
    padding-left: 1em ;
}

.recipe-card-container{
    border: #a62031;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.recipe-card-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:2em;
    background-color: rgb(255,240,219,0.5);
    padding: 2em;
    border-bottom: 2px solid #a62031;
}

.image-card{
    display: flex;
    align-items: center; 
}

#recipe-card-image{
    display: block;
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
}

.recipe-card{
    margin: 2em;
}

.nutritional-card{
    border: 2px solid #a62031;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nutritional-card h3{
    color:#a62031;
}

.about_me_card{
    border: 2px solid #a62031;
    text-align: center;
    padding: 1em;
    padding-bottom: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 2em;
}

#about-image{
    aspect-ratio: 1 / 1;
    width: 250px;
    object-fit: cover;
    object-position: 0;
    border-radius: 50%;
}

#p-btn{
    text-align: center;
    margin-top: 2em;
}

.grid-container-latest {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 1em; 
    margin-top: 1em;
}

.latest a{
    display: flex;
}

.latest-title{
    padding-top: 0.5em;
    padding-left: 1em;
}

.image-grid-category{
    width: 160px;
}