<div class="container">
    <div class="full-width-background">
        <div class="route"> 
            <a href="#" routerLink="/" class="r-home">Home</a> >
            <ng-container *ngFor="let category of recipe.categories;">
                <a href="#" [routerLink]="'/'+ getPath(category)" class="r-home">{{ category }}</a> >
            </ng-container>
            {{recipe.name}}
        </div>
        <div class="header">        
            <h1 id="title">{{recipe.name}}</h1>
            <div class="header-by">
                <a href="#" routerLink="/about-me">
                    <img src={{image}} alt="Portrait of Francisco Correia, author of Nela's Recipes" id="header-image">
                </a>
                <p id="header-about"> 
                    <em>by</em><b><a href="#" routerLink="/about-me" > Francisco Correia </a></b> <span id="date">on {{recipe.date}} </span>
                </p>
            </div>
        </div>
        <div id="jump-container">
            <a (click)="scroll(target)" class="btn">Jump to recipe</a>
        </div>
    </div>
    <div class="container-recipe">
        <div class="container-left">
            <div class="introduction-description-container">
                <p id="introduction-text" [innerHTML]="recipe.introduction.introduction"></p>
                <img src="{{recipe.imageUrl}}" alt="Main image of the recipe: {{recipe.name}}" id="first-image">
                <h2 *ngIf="recipe.introduction.subtitle" id="subtitle" >{{recipe.introduction.subtitle}}</h2>
                <p class="recipe-text" [innerHTML] = "recipe.introduction.description"></p>
            </div>
            <div class="ingredients-container">
                <img *ngIf="recipe.ingredients.image" src="{{recipe.ingredients.image}}" alt="Ingredients needed for {{recipe.name}}" id="ingredients-image" >
                <h2 id="subtitle">{{recipe.ingredients.subtitle}}</h2>
                <div class="recipe-text">
                    {{recipe.ingredients.introduction}}
                    <ul class="listing">
                        <li *ngFor="let ingredient of recipe.ingredients.content">
                            <b *ngIf="ingredient.title" >{{ingredient.title}}:</b>  {{ingredient.description}}
                        </li>
                    </ul>
                </div>  
            </div>
            <div class="recipe-container">
                <h2>{{recipe.steps.subtitle}}</h2>
                <div class="recipe-text">
                    {{recipe.steps.introduction}}
                    <ol class="listing">
                        <li *ngFor="let step of recipe.steps.content">
                            <b *ngIf="step.title" >{{step.title}}:</b>  {{step.description}}
                        </li>
                    </ol>
                </div>
                <img src="{{recipe.steps.image}}" alt="Step-by-step image for making {{recipe.name}}" id="steps-image">
            </div>
            <div class="more-recipes-container">
                <h2>More {{main_category}} Recipes</h2>
                <div class="grid-container">
                    <div *ngFor="let s of categoryRecipes | slice:0:4" class="grid-item">
                        <article class = "grid-article">
                            <a [routerLink]="'/recipes/' + s.id"> 
                                <img src="{{s.imageUrl}}" alt="Image of recipe {{s.name}} in the {{main_category}} category" class="image-grid-category">
                                <h3 class="image-title"> {{s.name}} </h3>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="recipe-card-container" #target>
                <div class="recipe-card-header">
                    <div class="main">
                        <img src="{{recipe.imageUrl}}" alt="Detailed view of the completed {{recipe.name}} recipe" id="recipe-card-image">
                        <div class="recipe-card-description">
                            <h2>{{recipe.name}}</h2>
                            <p class="recipe-text" [innerHTML]="recipe.introduction.description"></p>
                        </div>
                    </div>
                </div>
                <div class="recipe-card">
                    <div>
                        <h2>Ingredients</h2>
                        <div class="recipe-text">
                            <ul class="listing">
                                <li *ngFor="let ingredient of recipe.ingredients.content">
                                    <b *ngIf="ingredient.title">{{ingredient.title}}:</b> {{ingredient.description}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h2>Instructions</h2>
                        <ol id="listing">
                            <li *ngFor="let step of recipe.steps.content">
                                <b *ngIf="step.title" >{{step.title}}:</b> {{step.description}}
                            </li>
                        </ol>
                    </div>
                    <div >
                        <h3>Nutrition</h3>
                        <h6>per serving</h6>
                        <ul class="listing nutritional">
                            <li *ngFor="let n of recipe.nutrituional_values">
                                <b *ngIf="n.title" >{{n.title}}:</b> {{n.description}}
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Additional Info</h2>
                        <p class="recipe-text"><b>Categories:</b> {{recipe.categories}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-right">
            <div class="nutritional-card">
                <h3>Nutrition</h3>
                <h6>per serving</h6>
                <ul class="listing nutritional">
                    <li *ngFor="let n of recipe.nutrituional_values">
                        <b *ngIf="n.title" >{{n.title}}:</b> {{n.description}}
                    </li>
                </ul>
            </div>
            <div class="about_me_card">
                <img src={{image}} alt="Portrait of Francisco Correia, author of Nela's Recipes" id="about-image">
                <h3>Welcome to Nela's Recipes</h3>
                <p class="recipe-text">I'm Francisco, and I'm passionate about preparing nutritious and flavorful meals. Additionally, I'm pursuing studies in computer science, 
                    and I have a keen interest in sports and a deep love for traveling.
                </p>
                <p id="p-btn" ><a class="btn" routerLink="/about-me">More About Me</a></p>
            </div>
            <div class="latest">
                <h3>Latest Recipes</h3>
                <div class="grid-container-latest">
                    <div *ngFor="let rr of recent_recipes  | slice:0:4">
                        <article class="grid-article">
                            <a [routerLink]="'/recipes/' + rr.id"> 
                            <img src="{{rr.imageUrl}}" alt= "Latest recipe: {{rr.name}}" class="image-grid-category" id="image-latest">
                            <h4 class="latest-title"> {{rr.name}} </h4>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
