.container {
    position: relative;
    margin: 0em auto 3em auto;
    max-width: 1200px;
}

#container_primary{
    width: calc(100vw); 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255,240,219,0.3);
    padding-top: 1em;
    padding-bottom: 3em ;
    margin-bottom: 2em;
}

.route{
    max-width: 1200px;
    margin: auto;
}

#primary{
    margin: 0 auto;
    position: flex;
    max-width: 1200px;
    height: 325px;
}

#primary-image{
    aspect-ratio : 1 / 1;
    height: 100%;
    object-fit: cover;
    object-position: 0%;
    float: right;
    margin-left: 2em;
}

#container_category_description{
    text-align: justify;
}

#primary-description {
    margin-top: 0.5em ;
}

.grid-container-subcategories {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 1em; 
    text-align: center;
} 

.secondary-image-subcategories {
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    border-radius: 50%;
}

#subcategory_name{
    color: #a62031;
}

.sections{
    margin: 2em auto 3em auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1em; 
    margin: 0.5em auto 0 auto;
}

.grid-item {
    margin: 0;
}

article {
    display: flex;
    flex-direction: column;
}

h3 {
    padding-top: 0.25em; 
    padding-left: 0.5em;
    color: #a62031;
}

a {
    color: #a62031;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-image {
    aspect-ratio : 0.75 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
}
