.container {
    position: relative;
    margin: 0em auto 3em auto;
    max-width: 1200px;
}

.route{
    max-width: 1200px;
    margin: auto;
}

.main-container{
    margin: 0 auto;
    position: flex;
    max-width: 1200px;
    height: 325px;
}

#primary-image{
    aspect-ratio : 1 / 1;
    height: 100%;
    object-fit: cover;
    object-position: 0%;
    float: right;
    margin-left: 2em;
}

.category-description {
    margin-top: 0.5em ;
    text-align: justify;
}

.grid-container-subcategories {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 1em; 
    text-align: center;
}

.image-grid-subcategory {
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    border-radius: 50%;
}

.section{
    margin: 2em auto 3em auto;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

