<div class="container">
    <div class="full-width-background">
        <div class="route"> 
            <a href="#" routerLink="/" class="r-home">Home</a> 
            > {{category.name}}
        </div>
        <div class="main-container">
            <img src={{category.imageUrl}} alt={{category.name}} id="primary-image">
            <div>
                <h1>{{category.name}}</h1>
                <p class="category-description">{{category.description}}</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="grid-container-subcategories">
            <div *ngFor="let c of subCategories">
                <article class="grid-article">
                    <a [routerLink]="'/' + c.path"> 
                        <img src="{{c.imageUrl}}" alt={{c.name}} class="image-grid-subcategory">
                        <p id="subcategory_name"> {{c.name}} </p>
                        </a>
                </article>
            </div>
        </div>
    </div>
    <div class="section" *ngFor="let c of subCategories | slice:0:4; let i = index;">
        <div class="title-button-container">
            <h2>{{c.name}} Recipes</h2>
            <a href="#" [routerLink]="'/' + c.path"  id="secondary-button"> View more </a> 
        </div>
        <div class="grid-container">
            <div *ngFor="let s of subCatRecipes[i]">
                <article class="grid-article">
                    <a [routerLink]="'/recipes/' + s.id"> 
                        <img src="{{s.imageUrl}}" alt={{s.name}} class="image-grid-recipe">
                        <h3 class="image-title"> {{s.name}} </h3>
                        </a>
                </article>
            </div>
        </div>
    </div>
    <div class="section">
        <h2>All {{category.name}} Recipes</h2>
        <div class="grid-container">
            <div *ngFor="let c of categoryRecipes">
                <article class="grid-article">
                    <a [routerLink]="'/recipes/' + c.id"> 
                        <img src="{{c.imageUrl}}" alt={{c.name}} class="image-grid-recipe">
                        <h3 class="image-title"> {{c.name}} </h3>
                        </a>
                </article>
            </div>
        </div>
    </div>
</div>
