.container {
    position: relative;
    margin: 0rem auto 3rem auto;
    max-width: 1200px;
}

.category-description{
    text-align: justify;
}

.route{
    padding-top: 1rem;
}

.main{
    max-width: 1200px;
    min-height: 300px;  
    margin: 0 auto;
}

#primary-image{
    aspect-ratio : 1 / 1;
    float: right;
    margin-left: 3rem;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    width: 300px;
    height: 300px;

}

.grid-container-subcategories {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 1rem; 
    text-align: center;
}

.image-grid-subcategory {
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    border-radius: 50%;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .full-width-background, .section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
    }
    .grid-container-subcategories {
        grid-template-columns: repeat(5, 1fr); 

    }
    #primary-image{
        margin-left: 1rem;
    }
    .full-width-background {
        padding-bottom: 2rem ;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 545px) {
    #primary-image{
        width: 100%;
        height: 100%;
        margin: 0 0 1rem 0;
    }
    .grid-container-subcategories {
        grid-template-columns: repeat(3, 1fr); 

    }
} 

@media screen and (max-width: 290px) {
    .grid-container-subcategories {
        grid-template-columns: repeat(2, 1fr); 

    }
}
