<div class="container">
    <div id="container_primary">
        <div class="route"> 
            <a href="#" routerLink="/" id="r-home">Home</a> 
            > 
            <a href="#" routerLink="/{{parent_path}}" id="r-home">{{parent_name}}</a>
            > {{category.name}}
        </div>
        <div id="primary">
            <img src="{{category.imageUrl}}" alt={{category.name}} id="primary-image">
            <div class="primary-text"> 
                <h1 id="primary-title">{{category.name}}</h1>  
            </div>
        </div>
        <p *ngIf="category.description" id="description">{{category.description}}</p>
    </div>
    <div class="section">
        <h2>All {{category.name}} Recipes</h2>
        <div class="grid-container">
            <div *ngFor="let c of categoryRecipes">
                <article>
                    <a [routerLink]="'/recipes/' + c.id"> 
                        <img src="{{c.imageUrl}}" alt={{c.name}} class="secondary-image">
                        <h3> {{c.name}} </h3>
                        </a>
                </article>
            </div>
        </div>
    </div>
</div>
