<div class="container">
    <div id="primary">
    <img src={{image}} alt="About" id="primary-image">
    <div id="about_me">
        <h1>About me</h1>
        <p>Hey there and welcome to Nela's Recipes! Get ready for a mouthwatering adventure through the world of food and flavors.<br> <br>
        My name is Francisco, I am 22-year-old Portuguese guy who packed his bags and headed to Copenhagen back in 2023 for some more schooling. 
        But let me tell you, amidst all the studying and student shenanigans, I found my true happy place: the kitchen! 
        And that's pretty much how this blog came to life - a mix of passion for cooking and a sprinkle of procrastination from my studies!
        When I'm not wearing my chef's hat, you can find me chasing adventures elsewhere. <br> <br>
        I'm a sucker for travel, always on the lookout for my next destination. I really enjoy sports too, mainly football and hitting the gym.
        I'm all about staying active and keeping the energy levels up.</p>
    </div>
    </div>
    <div id="the_origin">
        <h1>The origin</h1>
        <a>
            So, let me explain how Nela's Recipes came life. It all started as a little side project,
            just me, my recipes, and a bunch of coding tutorials. 
            I whipped up this website from scratch as a cozy corner to stash all my favorite dishes. 
            Oh, and the name? It's a tribute to the real MVP in my culinary adventures - my mom. 
            She's the one who taught me everything I know about cooking, and I still call her whenever I hit a kitchen crisis.
        </a>
    </div>
    <div id="my_history">
        <h1>My history</h1>
        <a>
            Moving to Denmark and living by myself was a game-changer for me, from leaving my mom's place to learning everything about how to take care of a house.
            But I found myself enjoying cooking more than I expected. I started tinkering with low-calorie recipes, trying to balance tasty with healthy. 
            I started with low-calorie because I was quite an unhealthy person back then but 3 months before moving to Copenhagen something clicked and I just 
            knew I needed to change my habits. I started hitting the gym and learning how to lose weight without giving up my favorite foods. That's when I began
            learning about low-calorie foods and how to make them. Let me tell you, there were some attempts that were... interesting. But hey, we all gotta start somewhere, right?
            Fast forward a bit, and my cooking game leveled up. That was around the time I started the blog, I began experimenting with other cuisines, trying to make
            them as tasty as I can but always focusing on maintaining their healthiness and deliciousness.
            Every dish became a mini adventure, a chance to explore new flavors and cultures right in my kitchen.
        </a>    
    </div>
</div>
