.container {
    position: relative;
    margin: 0 auto 3em auto;
    max-width: 1200px;  
    text-align: justify;
}

.full-width-background{
    margin-bottom: 1em;
    padding-bottom: 2em;
}

#title{
    font-family: Apple Chancery, cursive;
    font-size: 3rem;
    color: #972d21;
}

.route{
    padding-top: 1rem;
}

.main{
    max-width: 1200px;
    min-height: 450px;  
    margin: 0 auto;
}

#primary-image{
    float: left;
    max-height: 450px;
    margin-right: 6rem;
    padding-top: 0;
}

@media screen and (max-width: 1200px) {
    .full-width-background{
        padding: 1rem 1rem 2rem 1rem;
    }
    .section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
    }

    #primary-image{
        max-width: 100%;
        max-height: none;
        margin: 0rem 0rem 1rem 0rem;
    }
    .full-width-background{
        padding-bottom: 0.5rem;
    }
}
