.container {
    position: relative;
    margin: 20px auto;
    max-width: 1450px;  
    text-align: left; 
}

#the_origin,
#my_history {
    display: block;
    margin-bottom: 20px;
}

h1{
    margin: 0 auto 20px auto;
}

#primary{
    position: flex;
    margin-bottom: 30px;
    min-height: 650px;
}
#about_me{
    margin-left: 20px;
}

#primary-image{
    float:left;
    max-width: 650px;
    height: auto;
    margin-right: 40px;
}

@media screen and (max-width: 925px) {
    #primary-image{
        float: none;
        max-width: 650px;
        height: auto;
        margin-right: 40px;
    }
}

@media screen and (max-width: 650px) {
    #primary-image{
        max-width: 100%;
        height: auto;

    }
}

    @media screen and (max-width: 1295px) {
        #the_origin,
        #my_history {
            margin-left: 20px;
        }
        

}