<div class="container">
    <div class="route"> 
        <a href="#" routerLink="/" id="r-home">Home</a> 
        > Recipe-Index
    </div>
    <h1>Recipe Index</h1>
    <p>Here I have broken down my recipes into categories so that you can find exactly what you are looking for.
        From Breakfast to dessert, sides, appetizers, dinner recipes.
    </p>
    <div class="section">
        <h2>Recipes by Course</h2>
        <div class="grid-container">
            <div *ngFor="let c of courses" class="grid-item">
                <article class = "grid-article">
                    <a [routerLink]="'/' + c.path"> 
                        <img src="{{c.imageUrl}}" alt="{{c.name}}" class="image-grid-category">
                        <h3 class="image-title">{{c.name}}</h3>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <div class="section">
        <h2>Dessert Recipes</h2>
        <div class="grid-container">
            <div *ngFor="let d of desserts" class="grid-item">
                <article class = "grid-article">
                    <a [routerLink]="'/' + d.path"> 
                        <img src="{{d.imageUrl}}" alt="{{d.name}}" class="image-grid-category">
                        <h3>{{d.name}}</h3>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <div class="section">
        <h2>Breakfast Recipes</h2>
        <div class="grid-container">
            <div *ngFor="let b of breakfast" class="grid-item">
                <article class = "grid-article">
                    <a [routerLink]="'/' + b.path"> 
                        <img src="{{b.imageUrl}}" alt="{{b.name}}" class="image-grid-category">
                        <h3>{{b.name}}</h3>
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>
