.container {
    position: relative;
    margin: 1rem auto 3rem auto;
    max-width: 1200px;
}

.grid-container {
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem;
}


@media screen and (max-width: 1200px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/*For tablets (768px and below)*/ 
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); 
        font-size: 0.8rem;
    }

}

@media (max-width: 545px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    
}

/*For tablets (768px and below)*/ 
@media (max-width: 290px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}
