.container {
    position: relative;
    margin: 1em auto 3em auto;
    max-width: 1200px;
}

.grid-container {
    grid-template-columns: repeat(5, 1fr); 
}


@media screen and (max-width: 1200px) {
    .container{
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (max-width: 780px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); 
    }
    h3{
        font-size: 18px;
    }
}


@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 350px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}