.container {
    position: relative;
    margin: 1em auto;
    max-width: 1200px;
    text-align: left;
}

.route {
    color: #a62031;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.route a {
    color: #a62031;
}

#r-home {
    text-decoration: underline;
}

h1{
    margin: 0;
}
p{
    margin: 0.25em auto 1em auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1em; 
    margin-bottom: 1em;
}

.grid-item {
    margin: 0;
}

article {
    display: flex;
    flex-direction: column;
}

.secondary-image {
    width: 100%;
    height: auto;
}

h3 {
    margin-top: 0.25em; 
    margin-bottom: 0;
    color: #a62031;
}

@media screen and (max-width: 1200px) {
    .container{
        margin-left: 1em;
        margin-right: 1em;
    }
}