.container {
    position: relative;
    margin: 1em auto 2em auto;
    max-width: 1200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1em; 
    margin: 2em auto 2em auto;
}

.grid-item {
    margin: 0;
}

article {
    display: flex;
    flex-direction: column;
}

.secondary-image {
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h3 {
    padding-top: 0.25em; 
    padding-left: 0.5em;
    color: #a62031;
}

@media screen and (max-width: 1200px) {
    .container{
        margin-left: 1em;
        margin-right: 1em;
    }
}