.container {
    position: relative;
    margin: 1em auto 2em auto;
    max-width: 1200px;
    text-align: left;
}

.route {
    color: #a62031;
    font-weight: bold;
    padding-bottom: 0.75em;
}

.route a {
    color: #a62031;
}

#r-home {
    text-decoration: underline;
}

h1{
    margin: 0;
}
p{
    margin: 0.25em auto 0 auto;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1em; 
    margin: 1em auto 1em auto;

}

.grid-item {
    margin: 0;
}

article {
    display: flex;
    flex-direction: column;
}

.secondary-image {
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    border-radius: 5px;
}

h3 {
    margin: 0;
    padding-top: 0.25em; 
    color: #a62031;
}

@media screen and (max-width: 1200px) {
    .container{
        margin-left: 1em;
        margin-right: 1em;
    }
}