@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px; 
}

a{
    text-decoration: none;
    color:#a62031;
}

h1, h2{
    font-family: 'Montserrat';
    margin: 0 
}

h3{
    font-family: 'Cormorant';
    margin: 0 
}

.route{
    font-family:'Ruda', sans-serif;
    color: #a62031;
    font-weight: bold;
    padding-bottom: 0.75em;
    max-width: 1200px;
    margin: auto;
}

.r-home{
    text-decoration:underline;
}

p {
    margin: 0.25em auto 0 auto;
}

.full-width-background{
    width: calc(100vw); 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255,240,219,0.3);
    padding-top: 1em;
    padding-bottom: 3em ;
    margin-bottom: 2em;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1em; 
    margin: 1em auto 0 auto;
}

.grid-item {
    margin: 0;
}

.grid-article {
    display: flex;
    flex-direction: column;
}

.image-grid-recipe {
    aspect-ratio : 0.75 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-grid-category {
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.image-title {
    padding-top: 0.25em; 
    padding-left: 0.5em;
    color:#a62031;
}

.section{
    margin: 2em auto 3em auto;
}