@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

body, p{
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
}

p{
    margin-top: 0.5rem;
}

a{
    text-decoration: none;
    color:#a62031;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    margin: 0 
}

.route{
    font-family:'Ruda', sans-serif;
    color: #a62031;
    font-weight: bold;
    padding-bottom: 0.75em;
    max-width: 1200px;
    margin: auto;
}

.r-home{
    text-decoration:underline;
}

.full-width-background{
    width: calc(100vw); 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255,240,219,0.3);
    padding-top: 1em;
    padding-bottom: 2em ;
    margin-bottom: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
    margin: 1em auto 0 auto;
}

.grid-item {
    margin: 0;
}

.grid-article {
    display: flex;
    flex-direction: column;
}

.image-grid-recipe {
    aspect-ratio : 0.75 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-grid-category {
    width: 100%;
    aspect-ratio : 1 / 1;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.image-title {
    padding-top: 0.25em; 
    padding-left: 0.5em;
    color:#a62031;
}

.section{
    margin: 1rem auto 2rem auto;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); 
        font-size: 0.8em;
    }

}

@media (max-width: 545px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    
}

@media (max-width: 290px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}
