@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    
}

a{
    text-decoration: none;
}

h1, h2{
    font-family: 'Montserrat';
    margin: 0 
}

h3{
    font-family: 'Cormorant';
    margin: 0 
}

.route{
    font-family:'Ruda', sans-serif;
    color: #a62031;
    font-weight: bold;
    padding-bottom: 0.75em;
}
.route a {
    color:#a62031;
}

#r-home{
    text-decoration:underline;
}

p {
    margin: 0.25em auto 0 auto;
}

