.scroll-to-top {
    position: fixed;
    bottom: 12%;
    right: 5%;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    opacity: 0;
    z-index: 1000;
}

.show-scrollTop {
    opacity: 1;
    transform: translateY(-10px); /* Slight floating effect */
}

.btn {
    width: 45px; /* Reduced width */
    height: 45px; /* Reduced height */
    border-radius: 50%;
    background-color: #a62031;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn:hover {
    background-color: #c24152; /* Darken on hover */
    transform: scale(1.1); /* Slight zoom on hover */
}

.scroll-to-top svg {
    width: 70%; /* Adjust icon size within button */
    height: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .btn {
        width: 40px; /* Smaller button for mobile */
        height: 40px;
    }
}

