.container {
    position: relative;
    margin: 1em auto 3em auto;
    max-width: 1200px;   
}

.main-image-container {
    position: relative;
    height: 700px; 
}

.main-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: 0; 
}

.main-text-button-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 40%;
    background:linear-gradient(to right, #000, #0000);
}

.main-text-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 3em;
    color:white;
}

#main-text{
    margin-bottom: 0.5em;
    font-size: 2.25em;  
}

#main-button{
    color: white;
    background-color: #a62031;
    padding: 1em;
    font-size: 0.75em;
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.section{
    margin: 3em auto;
}

.categories{
    padding: 1em;
    background-color: rgb(255,240,219,0.6);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #a62031;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1em; 
    margin: 0.5em auto 0 auto;
}

.grid-item {
    margin: 0;
}

.grid-article {
    display: flex;
    flex-direction: column;
}

.image-grid-category {
    aspect-ratio : 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.secondary-image-recipes {
    aspect-ratio : 0.75 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-title {
    padding-top: 0.25em; 
    padding-left: 0.5em;
    color:#a62031
}


@media (max-width: 1200px) {
    .section {
        margin-left: 1em;
        margin-right: 1em;
    }
    .container{
        margin-top: 0;
    }
}