.container {
    position: relative;
    margin: 1rem auto 3rem auto;
    max-width: 1200px;   
}

.main-image-container {
    position: relative;
    max-width: 1200px;  
    height: 650px; 
}

.main-image {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.main-text-button-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 40%;
    background:linear-gradient(to right, #000, #0000);
}

.main-text-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 3rem;
    color:white;
    max-width: 90%;
}

#main-text{
    margin-bottom: 1.25rem;
    font-size: 2rem;  
}

#main-button{
    color: white;
    background-color: #a62031;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.categories{
    margin-top: 3rem;
    padding: 1rem;
    background-color: rgb(255,240,219,0.6);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #a62031;
}

@media screen and (max-width: 1200px) {
    .section, .main-image-container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-image-container {
        height: 550px; 
    }
}

@media screen and (max-width: 768px) {
    .main-image-container{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .container {
        margin: 0 auto;
    }

    .main-text-button {
        padding-left: 2rem;
    }

    #main-text{
        font-size: 1.5rem; 
        margin-bottom: 1rem; 
    }

    #main-button{
        font-size: 0.8rem;
    }

    .main-image-container {
        height: 450px; 
    }

}


@media (max-width: 545px) {
    #main-text{
        font-size: 1.25rem; 
        margin-bottom: 0.75rem;
    }

    #main-button{
        font-size: 0.7rem;
        padding: 0.5rem;
    }
    .main-image-container {
        height: 350px; 
    }
    .title-button-container{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 450px) {
    .main-text-button {
        padding-left: 1.5rem;
    }
    #main-text{
        font-size: 1rem;  
        margin-bottom: 0.25rem;
    }
    #main-button{
        font-size: 0.5rem;
        padding: 0.4rem;
    }
    .main-image-container {
        height: 275px; 
    }
    .title-button-container{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 290px) {
    .main-text-button {
        padding-left: 1rem;
    }
    .title-button-container{
        font-size: 0.55rem;
        margin-bottom: 0.2rem;
    }
    #main-button{
        font-size: 0.4rem;
    }
    .main-image-container {
        height: 225px; 
    }
}