.container {
    position: relative;
    margin: 1em auto 3em auto;
    max-width: 1200px;   
}

.main-image-container {
    position: relative;
    height: 70vh; 
}

.main-image {
    width: 100%;
    max-height: 100%; 
    object-fit: cover;
    object-position: 0; 
}

.main-text-button-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 40%;
    background:linear-gradient(to right, #000, #0000);
}

.main-text-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 3em;
    color:white;
}

#main-text{
    margin-bottom: 0.5em;
    font-size: 2em;  
}

#main-button{
    color: white;
    background-color: #a62031;
    padding: 1em;
    font-size: 0.75em;
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.categories{
    margin-top: 3em;
    padding: 1em;
    background-color: rgb(255,240,219,0.6);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #a62031;
}

@media screen and (max-width: 1200px) {
    .section{
        margin: 1.5em 1em;
    }
    .container {
        margin: 0 auto;
    }
    .main-image-container {
        height: 60vh; 
    }
}

@media screen and (max-width: 768px) {
    .section{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .main-text-button {
        padding-left: 2em;
    }

    #main-text{
        font-size: 1.5em; 
        margin-bottom: 0.4em; 
    }

    #main-button{
        padding: 1em;
        font-size: 0.6em;
    }

    .main-image-container {
        height: 50vh; 
    }

}


@media (max-width: 545px) {
    .main-image-container {
        height: 43vh; 
    }
    .title-button-container{
        font-size: 0.85em;
    }
}

@media screen and (max-width: 450px) {
    .title-button-container{
        font-size: 0.75em;
    }
    .main-text-button {
        padding-left: 1em;
    }
    #main-text{
        font-size: 1em;  
        margin-bottom: 0.3em;
    }
    #main-button{
        padding: 1em;
        font-size: 0.5em;
    }
    .main-image-container {
        height: 35vh; 
    }
}

/*For tablets (768px and below)*/ 
@media (max-width: 390px) {
    .main-image-container {
        height: 30vh; 
    }
    .title-button-container{
        font-size: 0.6em;
    }
}

@media screen and (max-width: 320px) {
    .title-button-container{
        font-size: 0.5em;
        margin-bottom: 0.2em;
    }
    #main-button{
        font-size: 0.4em;
    }
    .main-image-container {
        height: 25vh; 
    }
}




