<div class="container">
    <div class="main-image-container">
        <img src="{{first.imageUrl}}" alt="Featured recipe: {{first.name}}" class="main-image">
        <div class="main-text-button-container">
            <div class="main-text-button"> 
                <h1 id="main-text">{{first.name}}</h1> 
                <a routerLink="/recipes/{{first.id}}/" id="main-button">See the Recipe</a> 
            </div>
        </div>
    </div>
    <div class="section categories">
        <div class="title-button-container">
            <h1 class="title">Categories</h1>
            <a routerLink="/recipes-index/">View more</a> 
        </div>
        <div class="grid-container">
            <div *ngFor="let c of categories  | slice:0:4">
                <article class="grid-article">
                    <a [routerLink]="'/' +  c.path"> 
                        <img src="{{c.imageUrl}}" alt= "Category: {{c.name}} recipes" class="image-grid-category">
                        <h3 class="image-title"> {{c.name}} </h3>
                        </a>
                </article>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title-button-container">
            <h1 class="title">Air Fryer Recipes</h1>
            <a routerLink="/airfryer-recipes/"> View more </a> 
        </div>
        <div class="grid-container">
            <div *ngFor="let ar of airfryer_recipes | slice:0:4">
                <article class="grid-article">
                    <a [routerLink]="'/recipes/' + ar.id + '/'"> 
                    <img src="{{ar.imageUrl}}" alt= "Air fryer recipe: {{ar.name}}"  class="image-grid-recipe">
                    <h3> {{ar.name}} </h3>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title-button-container">
            <h1 class="title">Most Recent Recipes</h1>
            <a routerLink="/recipes/"> View more </a> 
        </div>
        <div class="grid-container">
            <div *ngFor="let rr of recent_recipes  | slice:0:8">
                <article class="grid-article">
                    <a [routerLink]="'/recipes/' + rr.id + '/'"> 
                    <img src="{{rr.imageUrl}}" alt= "Recent recipe: {{rr.name}}" class="image-grid-recipe">
                    <h3> {{rr.name}} </h3>
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>
